@font-face {
  font-family: "CenturyGothic";
  src: url("fonts/CenturyGothic.ttf");
}
@font-face {
  font-family: "CenturyGothic-BoldItalic";
  src: url("fonts/centurygothicbolditalic.ttf");
}

/*
@font-face {
  font-family: "ArialNarrow";
  src: url("fonts/arialnarrow.ttf"),url("fonts/arialnarrow.eot");
}
@font-face {
  font-family: "ArialNarrow-Bold";
  src: url("fonts/arialnarrowbold.ttf"),url("fonts/arialnarrowbold.eot");
}
@font-face {
  font-family: "Nunito-Medium";
  src: url("fonts/CenturyGothic.ttf");
}

@font-face {
  font-family: "Arial Narrow Italic";
  src: url("fonts/arialnarrowitalic.ttf"),url("fonts/arialnarrowitalic.eot");
}
@font-face {
  font-family: "Arial Narrow Bold Italic";
  src: url("fonts/arialnarrowbolditalic.ttf"),url("fonts/arialnarrowbolditalic.eot");
}


@font-face {
  font-family: "Segoe Regular";
  src: url('fonts/segoeuiregular.ttf'), url('fonts/segoeuiregular.eot');
}
@font-face {
  font-family: "Segoe Black";
  src: url('fonts/seguibl.ttf'), url('fonts/seguibl.eot');
}
@font-face {
  font-family: "Segoe Light";
  src: url('fonts/SEGOEUIL.ttf'), url('fonts/SEGOEUIL.eot');
}
@font-face {
  font-family: "Segoe Bold";
  src: url('fonts/segoeuibold.ttf'), url('fonts/segoeuibold.eot');
}

@font-face {
  font-family: 'barlow';
  src:  url('fonts/Barlow-Condensed-Medium.ttf.eot');
  src:  url('fonts/Barlow-Condensed-Medium.ttf.eot') format('embedded-opentype'), url('fonts/barlow-condensed.medium.ttf') format('truetype'), url('fonts/Barlow-Condensed-Medium.ttf.woff') format('woff'), url('fonts/Barlow-Condensed-Medium.ttf.svg') format('svg');
  font-weight: normal;
}
*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1s40qk');
  src:  url('fonts/icomoon.eot?1s40qk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1s40qk') format('truetype'),
    url('fonts/icomoon.woff?1s40qk') format('woff'),
    url('fonts/icomoon.svg?1s40qk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-d20:before {
  content: "\e900";
}
.icon-alien:before {
  content: "\e901";
}
.icon-baby:before {
  content: "\e902";
}
.icon-book:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-lightbulb:before {
  content: "\e905";
}
.icon-lips:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-Ring:before {
  content: "\e908";
}
.icon-scales .path1:before {
  content: "\e909";
  color: rgb(0, 0, 0);
}
.icon-scales .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path6:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path7:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path8:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path9:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path10:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path11:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path12:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path13:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-scales .path14:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path15:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path16:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path17:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-scales .path18:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-scales .path19:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path20:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path21:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-scales .path22:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path23:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path24:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path25:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-scales .path26:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path27:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path28:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path29:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path30:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path31:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-scales .path32:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-yingyang:before {
  content: "\e929";
}
